[Unit]
Description=LTX data connector - Binance Spot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=gaston
Group=gaston
WorkingDirectory=/srv/shared/LTX-Python
ExecStart=/srv/shared/.venv/bin/python src/connectors/main.py connector/binancespot
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
