[Unit]
Description=LTX data connector - Binance COIN
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=gaston
Group=gaston
WorkingDirectory=/srv/shared/LTX-Python
ExecStart=/srv/shared/.venv/bin/python src/connectors/main.py binancecoin
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
