[Unit]
Description=LTX data connector - Binance Spot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=gaston
Group=gaston
WorkingDirectory=~
ExecStart=/srv/shared/.venv/bin/ltx connectors/binancespot
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
